<div class="footer">
    <div class="footer-content">
        <div class="right">
            <div class="title">
                <p>Take it easy with location</p>
            </div>
            <div class="address">
                <p>112-Legere ancillae vix ne.
                    Te elit putent propriae eum,
                    aliquip nominati</p>
            </div>
            <div class="phone">
                <p>phone: +55 123 456 78
                    Email: coffee_shop@gmail.com</p>
            </div>
            <div class="social">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-pinterest-p"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
        <div class="center">
            <div class="title">
                <p>Oppenning Time</p>
            </div>
            <div class="time">
                <p>Monday To Friday
                    8:00am to 8:00pm</p>
            </div>
            <div class="time">
                <p>Saturday & Sunday
                    8:00am to 10:00pm</p>
            </div>
        </div>
        <div class="left">
            <div class="title">
                <p>Contact Us</p>
            </div>
            <div class="form-container">
                <form>
                    <input type="text" placeholder="Full name">
                    <input type="email" placeholder="Email">
                    <input type="text" placeholder="Subject">
                    <textarea placeholder="Message"></textarea>
                </form>
            </div>
            <div class="btn">
                <button>SEND</button>
            </div>
        </div>
    </div>
</div>