<div class="footer">
    <div class="footer-content">
        <div class="no"></div>
        <div class="title">
            <p>Made with
                <span style="color:red">&hearts;</span> by <span style="color:#a26e47">Bootstrap
                    Themes</span>
                2016. Modified by
                <span style="color:#a26e47">Bouhriz
                    Abir</span> All
                Rights Reserved
            </p>
        </div>
        <div class="scroll" (click)="scrollToTop()">
            <i class="fa-solid fa-angle-up"></i>
        </div>
    </div>
</div>