<div class="menu">
    <div class="menu-content">
        <div class="title">
            <p>Amazing</p>
            <p>Delicious</p>
        </div>
        <div class="content">
            <div class="cards">
                <div class="image">
                    <img src="../../assets/menu1.jpg">
                </div>
                <div class="text">
                    <div class="top">
                        <p>Hot Drinks</p>
                    </div>
                    <div class="bottom">
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="cards">
                <div class="text">
                    <div class="top">
                        <p>Hot Drinks</p>
                    </div>
                    <div class="bottom">
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="../../assets/menu2.jpg">
                </div>

            </div>
            <!--  -->
            <div class="cards">
                <div class="image">
                    <img src="../../assets/menu3.jfif">
                </div>
                <div class="text">
                    <div class="top">
                        <p>Hot Drinks</p>
                    </div>
                    <div class="bottom">
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                        <div class="lines">
                            <div class="one">
                                <img src="../../assets/coffee.jpg" alt="">
                            </div>
                            <div class="two">
                                <p>Espresso Allonge .......................................................</p>
                            </div>
                            <div class="three">
                                <p>$24.5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>