<div class="mobile">
    <div class="mobile-content">
        <div class="right">
            <img src="../../assets/iphone1.png" alt="">
        </div>
        <div class="left">
            <div class="title">
                <p>Happy to Announce</p>
            </div>
            <div class="sub-title">
                <p>MOBILE APP</p>
            </div>
            <div class="text">
                <p>IS AVAILABLE IN EVERY OS PLATFORM.</p>
            </div>
            <div class="btns">
                <img src="../../assets/google.png" alt="">
                <img src="../../assets/apps.png" alt="">
            </div>
        </div>
    </div>
</div>