<div class="feature">
    <div class="feature-content">
        <div class="left-text">
            <div class="title">
                <p>Special Coffee</p>
            </div>
            <div class="sub-title">
                <p>Taste of Precious</p>
            </div>
            <div class="text1">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's stan</p>
            </div>
            <div class="text2">
                dard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to
                make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesettingdard dummy text ever since the 1500s,when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting
            </div>
        </div>
        <div class="bg-image">
            <img src="../../assets/feature.jpg">
        </div>
    </div>
</div>